<div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-left">
                <div class="nav">
                        <div class="nav-header">
                        </div>
                        <div class="nav-btn">
                          <label for="nav-check">
                            <span></span>
                            <span></span>
                            <span></span>
                          </label>
                        </div>
                        <input type="checkbox" id="nav-check">
                        <div class="nav-links">
                                <a routerLink="" >
                                        <span class="glyphicon glyphicon-menu-hamburger"></span> 
                                        <!-- <img src="assets/img/aprons.png" alt=""> -->
                                        <h1 class="item-brand">APRONS</h1>
                                        <p class="item-sub">by Charmaine <sup>TM</sup></p>
                                </a>
                            
                            <!-- <a class="btn  btn-md" routerLink="about">About</a> -->
                        </div>
                      </div>
                      <div class="col-md-5 col-modal">
                          <h1 class="lorem"> LOREM IPSUM MODAL SUM GOES HERE AS CONTENY</h1>
                          <br>
                          <h3 class="price"> {{"35"| currency}}</h3>
                          <br>
                          <h5>COLORS</h5>
                        
                                <!-- <div class="item-select">
                                  <a class="dropdown-item" href="#"> <span class="glyphicon glyphicon-shopping-cart"></span></a>
                                  <a class="dropdown-item" href="#">1</a>
                                  <a class="dropdown-item" href="#">2</a>
                                  <a class="dropdown-item" href="#">3</a>
                                  <a class="dropdown-item" href="#">4</a>
                                  <a class="dropdown-item" href="#">5</a>
                                </div>
                                      
                                      
                                      <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider round"></span>
                                        
                                      </label> -->

                                      <div class="item-put">
                                            <span id="item-cart" class="glyphicon glyphicon-shopping-cart"></span>  
                                      </div>
                         
                          

                      </div>

                      <footer class="item-footer"><p ><small>Charmaine &copy; 2018 Copyright All Rights Reserved</small></p></footer>
          </div>
          <div class="col-md-6 col-right">
                <nav id="nav-right" class="navbar navbar-expand-lg navbar-dark rounded">
            
                        <ul class="navbar-nav ml-auto">
                          <li class="nav-item">
                            <a routerLink="about" class="nav-link">About</a>
                           
                          </li>
                          
                          <li class="nav-item">
                              
                                <a routerLink="help" class="nav-link">Help</a>
                        </li>
                        &emsp;
                            <li class="nav-item">
                                    <a routerLink="account" class="nav-link">My account</a>
                            </li>
                         
                        </ul>
                      </nav>

                      <a class="right carousel-control"  data-slide="next">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Prev</span>
                     </a>
                      <a class="right carousel-control"  data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                     </a>

          </div>
        </div>

        <div class="container col-content">
            <div class="row">
                    <h2 class="data-center"></h2>
                    <img class="img-apron" src="assets/img/apron.png" alt="" width="513px" height="650px">
            </div>
        </div>
      
      </div>
<!-- 
      <router-outlet></router-outlet> -->

 